@tailwind base;
@tailwind components;
@tailwind utilities;

/* vietnamese */
@font-face {
  font-family: "Petrona";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/petrona/v28/mtGQ4_NXL7bZo9XXq35wRLONYyOjFk6NsWZKPX6urlRqLGoRzXgCaRE4vRM.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Petrona";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/petrona/v28/mtGQ4_NXL7bZo9XXq35wRLONYyOjFk6NsWZKPX6urlRqLGoRzXgCaBE4vRM.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Petrona";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/petrona/v28/mtGQ4_NXL7bZo9XXq35wRLONYyOjFk6NsWZKPX6urlRqLGoRzXgCZhE4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: "Petrona";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/petrona/v28/mtGQ4_NXL7bZo9XXq35wRLONYyOjFk6NsWZKPX6urlRqLGoRzXgCaRE4vRM.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Petrona";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/petrona/v28/mtGQ4_NXL7bZo9XXq35wRLONYyOjFk6NsWZKPX6urlRqLGoRzXgCaBE4vRM.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Petrona";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/petrona/v28/mtGQ4_NXL7bZo9XXq35wRLONYyOjFk6NsWZKPX6urlRqLGoRzXgCZhE4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html::-webkit-scrollbar {
  width: 0px;
  height: 336px;
  background-color: transparent;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Noto Sans;
}

* {
  box-sizing: border-box;
}
.bg-firstSection {
  background: linear-gradient(109.6deg, rgb(5, 85, 84) 11.2%, rgb(64, 224, 208) 91.1%);
}
.signup-btn {
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.85);
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease,
    -webkit-transform 200ms ease;
  border-radius: 24px;
}
.signup-btn:active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  transform: translate(0px, 2px);
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.signup-btn:hover .gradient {
  opacity: 1 !important;
}
.button__inner {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: inset 0 0 7px 0 hsla(0, 0%, 100%, 0.28);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.button__inner:hover {
  box-shadow: inset 0 0 7px 0 hsla(0, 0%, 100%, 0.6);
}

.gradient {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  border-radius: 12px;
  transition: all ease-in-out .5s;
}
.gradient__ball {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  mix-blend-mode: overlay;
}

.gradient__ball.gradient__ball--1 {
  position: absolute;
  bottom: 0px;
  background-color: #fd3846;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fd3846),
    to(#ffd000)
  );
  background-image: linear-gradient(90deg, #fd3846, #ffd000);
}

.gradient__ball.gradient__ball--2 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  background-image: linear-gradient(78deg, #a600ff, #2bff00);
}

.gradient-glow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  opacity: 0.25;
}
.gradient__ball.gradient__ball--1 {
  animation: gradient1 10s infinite;
}
.gradient__ball.gradient__ball--2 {
  animation: gradient2 10s infinite;
}
@keyframes gradient1 {
  0% {
    transform: translate3d(0%, -100%, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  25% {
    transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  50% {
    transform: translate3d(100%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  75% {
    transform: translate3d(100%, -100%, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  100% {
    transform: translate3d(0%, -100%, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
}
@keyframes gradient2 {
  0% {
    transform: translate3d(-100%, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  25% {
    transform: translate3d(-100%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  50% {
    transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  75% {
    transform: translate3d(0%, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  100% {
    transform: translate3d(-100%, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.isSticky {
  background-color: rgb(255, 255, 255);
  color: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 20px 40px #0000001a;
}
.sticky {
  transition: all ease-in-out 0.8s;
}
.navItem:hover .hoverEvent {
  animation: navItemHover 0.5s forwards;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.swiper-button-prev , .swiper-button-next {
  top: var(--swiper-navigation-top-offset, 90%) !important;
  background-color: #F0F0F0;
  color: black;
  width: auto;
  height: auto;
  padding: 5px 8px;
  border-radius: 100%;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 10px !important;
}
.swiper .swiper-button-prev {
  left: 46% !important;
  width: 44px;
}
.swiper .swiper-button-next {
  right: 46% !important;
  width: 44px;
}

.swiper-3d .swiper-slide-shadow-coverflow {
  background-image: none !important;
}

@keyframes navItemHover {
  0% {
    transform: translate3d(0px, 30%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
  100% {
    transform: translate3d(0px, -50%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
}

.footer-gradient {
  background: linear-gradient(119deg, #10726b 8.33%, #00f2de 100%);
}
