@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/earlyaccess/notosanssc.css"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap"); */

@font-face {
  font-family: "natoSans";
  src: url("/font/noto-sans.regular.ttf") format("truetype");
}

@layer base {
  html {
    /* font-family: "Noto Sans SC", Helvetica, arial, sans-serif; */
    /* font-family: "Noto Sans", sans-serif; */
    font-family: "natoSans";
  }
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg-firstSection {
  background: linear-gradient(
    109.6deg,
    rgb(5, 85, 84) 11.2%,
    rgb(64, 224, 208) 91.1%
  );
}

.signup-btn {
  position: relative;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.85); */
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease,
    -webkit-transform 200ms ease;
  border-radius: 24px;
}

.signup-btn:active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  transform: translate(0px, 2px);
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 100px;
  height: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}
#shape {
  stroke-width: 0px;
  fill: transparent;
  stroke: #009ffd;
  /* stroke-dasharray: 50 300; */
  transition: 1s all ease;
  /* animation-fill-mode: forwards; */
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke: #00f2de;
  display: block !important;
}

#hoverBtnText {
  margin-top: -31px;
  text-align: center;
}

.fuller-button {
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.fuller-button.blue {
  border: #0dd solid 2px;
  /* box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5),
    0 0 1em rgba(0, 170, 170, 0.5); */
}

.fuller-button.blue:hover {
  background-color: #0dd;
  /* box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5),
    0 0 1.5em rgba(0, 170, 170, 0.7); */
}

.fuller-button.red {
  /* box-shadow: inset 0 0 1em #2f46447e, 0 0 1em #2f464481; */
  border: #2f4644be solid 2px;
}

.fuller-button.red:hover {
  background-color: #2f4644;
  /* box-shadow: inset 0 0 0 #2f46447e, 0 0 1.5em #233533bb; */
}

#__next {
  display: flex;
  justify-content: center;
}
.swiper-pagination-bullet {
  width: 20px !important;
  height: 1px !important;
  border: 4px solid black !important;
  opacity: 100 !important;
  border-radius: 11px !important;
  transition-duration: 0.6s;
}
.img-swiper .swiper-pagination {
  top: var(--swiper-pagination-top, 49%) !important;
}
.swiper-pagination-bullet-active {
  width: 60px !important;
  border: 4px solid #03d9c8 !important;
  transition-duration: 0.6s;
}
.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper > div {
  transition-duration: 1300ms !important;
}

.swiper .swiper-button-next {
  display: none !important;
}

.mySwiper .swiper-button-prev {
  display: none !important;
}

.loginpage-toast .Toastify__progress-bar-theme--light {
  background: #26ecd2 !important; /* Change this to your desired color */
}
.isSticky {
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 5px 5px #0000001a;
  transition: all ease-in-out 0.8s;
}

.sticky {
  transition: all ease-in-out 0.8s;
}

.img-swiper .swiper-slide-visible {
  /* transform: translate3d(0px, -6px, 80px) rotateX(0deg) rotateY(0deg) scale(0.8) !important; */
  transform: translate3d(0px, -27px, 86px) rotateX(0deg) rotateY(0deg)
    scale(0.795) !important;
  transition-duration: 400ms !important;
}
.swiper-slide-visible > .module-description {
  display: none;
}
.swiper-slide-next > .module-description {
  display: flex;
}
.img-swiper .swiper-slide-next {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg)
    scale(1.1538) !important;
}

.img-swiper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  height: 30px !important;
}

.swiper-3d .swiper-slide-shadow-coverflow {
  background-image: none !important;
}

.footer-gradient {
  background: linear-gradient(119deg, #10726b 8.33%, #00f2de 100%);
}
