@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

body {
  padding: 0;
  margin: 0;
  /* font-family: Roboto; */
}

* {
  box-sizing: border-box;
}

.bg-firstSection {
  background: linear-gradient(
    109.6deg,
    rgb(5, 85, 84) 11.2%,
    rgb(64, 224, 208) 91.1%
  );
}

.signup-btn {
  position: relative;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.85); */
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease,
    -webkit-transform 200ms ease;
  border-radius: 24px;
}

.signup-btn:active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  transform: translate(0px, 2px);
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.signup-btn:hover .gradient {
  opacity: 1 !important;
}

.button__inner {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: inset 0 0 7px 0 hsla(0, 0%, 100%, 0.28);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.button__inner:hover {
  box-shadow: inset 0 0 7px 0 hsla(0, 0%, 100%, 0.6);
}

.gradient {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  border-radius: 12px;
  transition: all ease-in-out 0.5s;
}

.gradient__ball {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  mix-blend-mode: overlay;
}

.gradient__ball.gradient__ball--1 {
  position: absolute;
  bottom: 0px;
  background-color: #fd3846;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fd3846),
    to(#ffd000)
  );
  background-image: linear-gradient(90deg, #fd3846, #ffd000);
}

.gradient__ball.gradient__ball--2 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  background-image: linear-gradient(78deg, #a600ff, #2bff00);
}

.gradient-glow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  opacity: 0.25;
}

.gradient__ball.gradient__ball--1 {
  animation: gradient1 10s infinite;
}

.gradient__ball.gradient__ball--2 {
  animation: gradient2 10s infinite;
}
.menuitem:hover {
  box-shadow: -1px 0px 9px 1px #2b9ab3;
}

@keyframes gradient1 {
  0% {
    transform: translate3d(0%, -100%, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  25% {
    transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  50% {
    transform: translate3d(100%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  75% {
    transform: translate3d(100%, -100%, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  100% {
    transform: translate3d(0%, -100%, 0px) scale3d(1.5, 1.5, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
}

@keyframes gradient2 {
  0% {
    transform: translate3d(-100%, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  25% {
    transform: translate3d(-100%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  50% {
    transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  75% {
    transform: translate3d(0%, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  100% {
    transform: translate3d(-100%, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 100px;
  height: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}
#shape {
  stroke-width: 0px;
  fill: transparent;
  stroke: #009ffd;
  stroke-dasharray: 50 300;
  /* stroke-dashoffset: -165; */
  transition: 1s all ease;
  animation-fill-mode: forwards;
}

#hoverBtnText {
  margin-top: -31px;
  text-align: center;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #00F2DE;
  display: block !important;
}

.fuller-button {
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.fuller-button.blue {
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5),
    0 0 1em rgba(0, 170, 170, 0.5);
  border: #0dd solid 2px;
}

.fuller-button.blue:hover {
  background-color: #0dd;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5),
    0 0 1.5em rgba(0, 170, 170, 0.7);
}

.fuller-button.red {
  box-shadow: inset 0 0 1em #2f46447e, 0 0 1em #2f464481;
  border: #2f4644be solid 2px;
}

.fuller-button.red:hover {
  background-color: #2f4644;
  box-shadow: inset 0 0 0 #2f46447e, 0 0 1.5em #233533bb;
}

#__next {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper > div {
  transition-duration: 1300ms !important;
}

.mySwiper > .swiper-button-next {
  display: none !important;
}

.mySwiper > .swiper-button-prev {
  display: none !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
}

.isSticky {
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 5px 5px #0000001a;
  transition: all ease-in-out 0.8s;
}

.sticky {
  transition: all ease-in-out 0.8s;
}

.navItem:hover .hoverEvent {
  animation: navItemHover 0.5s forwards;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 44%) !important;
  background-color: #f0f0f0;
  padding: 35px 35px;
  border-radius: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px !important;
}

.swiper .swiper-button-prev {
  left: 497px !important;
  width: 44px;
}
.swiper .swiper-button-next {
  right: 497px !important;
  width: 44px;
}

.img-slide .swiper-slide-visible {
  transform: translate3d(0px, -20px, 80px) rotateX(0deg) rotateY(0deg)
    scale(0.8) !important;
  transition-duration: 300ms !important;
}

.img-slide .swiper-slide-next {
  transform: translate3d(0px, 0px, 0.05px) rotateX(0deg) rotateY(0deg)
    scale(0.999875) !important;
}

.swiper-3d .swiper-slide-shadow-coverflow {
  background-image: none !important;
}

@keyframes navItemHover {
  0% {
    transform: translate3d(0px, 30%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
  }

  100% {
    transform: translate3d(0px, -50%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
}

.footer-gradient {
  background: linear-gradient(119deg, #10726b 8.33%, #00f2de 100%);
}
